
.editor {
    margin: 20px 70px;
    width: 400px;
    text-align: left;
  }
  
  .editor input, select {
  display: block;
  margin-left: 15px;
  width: 30em;
  }
  
  .editor label {
    margin: 3px 0px;
    display: block;
    font-weight: bold;
  }
  
  .editor button {
    display: block;
    margin:20px auto;
  }
  