
.editor {

   background-color: #89bea8;
    width: 100%;
    
  }

  .editor form {
    margin: 0 auto;
    width:300px;
   padding:15px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
  }
  
  .editor input, select {
    margin-left:25px;
    margin-bottom:10px;
    padding:6px;
    width:220px;
  }
  
  .editor label {
   padding:8px;
    font-weight: bold;
   
  }
  
  .editor button {
    padding:12px;
    margin: 25px auto;
    
  }
  