 
.remindertext {   display: block;
    font-size: 16px;
    text-align:left;
    overflow-wrap: break-word;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.remindertime {
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.bgRed {
    background-color: #e96f6f
}

.bgYellow { 
    background-color: #e2d956
}

.bgGreen {
    background-color: #b3f0c4
}