
.beige{
  background-color: #d3beb4;
  font-family: 'Amiri', serif;
}

button{
  display: inline-block;
  text-align: center;
 font-family: inherit;
 font-size:14px;
  margin: 0px 2px 3px 2px;
 
  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.01em 0.5em;
  color: #ffffff;
  background-color: #6b6563
 
 }
  
 button:hover {
  color: #6b6563;

  border-color: currentColor;
  background-color: white;
}