body {
  margin: 0;
  padding: 0;
font-family: 'Amiri', serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




.calendar td{
  height:150px;
  max-height:150px;
  width: 225px;
  max-width: 225px;
  border-style:solid;
  border-width: 1px;
  vertical-align: top;
}
